@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

/*1rem=16px*/
/* *{
    box-sizing: content-box;
} */

body{
    font-family: 'Outfit', sans-serif;
    font-size: 62.5%; /* 16px * 0.625 = 10px; */
    background-color: var(--Very-dark-blue-main-BG);
}

p{
    font-size: 1.8rem;
}

.main-container{

/*Con las siguientes propiedades se da en body
    para que los elementos que lo componen se ubiquen
    en todo el centro de la pantalla*/
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.second-container{
    background-color: var(--Very-dark-blue-card-BG);
    border-radius: 1rem;
    padding: 1.5rem;

}

.contenedor-imagen{
    /*position: relative;*/
}

.main-image{
    background-image: url(images/image-equilibrium.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    min-height: 18.75rem;
    width: 100%;
    border-radius: 1rem;
}
.texto-principal h1 a{
    text-decoration: none;
    color: var(--White);
}

.texto-principal p{
    text-decoration: none;
    color: var(--Soft-blue);
    font-size: 1.1rem;
    font-weight: 400;
}

.datos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--Soft-blue);
}

.linea{
    border: 1px solid var(--Very-dark-blue-line);
    opacity: 0.5;
}

.autor{
    color: var(--Soft-blue);
}
















.attribution {
     font-size: 11px;
    text-align: center; }

.attribution a {
     color: hsl(228, 45%, 44%);
    }