@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
}


:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);  
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line-: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

/*1rem=16px*/
/* *{
    box-sizing: content-box;
} */

body{
    font-family: 'Outfit', sans-serif;
    font-size: 62.5%; /* 16px * 0.625 = 10px; */
    background-color: var(--Very-dark-blue-main-BG);

     /*Con las siguientes propiedades se da en body
     para que los elementos que lo componen se ubiquen
     en todo el centro de la pantalla*/
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;    
}

p{
    font-size: 1.8rem;
}

.container{
    
   

    /*Estilos de fondo*/
    background-color: var(--Very-dark-blue-card-BG);

    /*Tamaño de la tarjeta*/
    width: 10rem; /* 15rem = 15*16px = 240px*/
    height:10rem;

}


















.attribution {
     font-size: 11px; 
    text-align: center; }

.attribution a {
     color: hsl(228, 45%, 44%); 
    }