@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

/*1rem=16px*/
/* *{
    box-sizing: content-box;
} */

body{
    font-family: 'Outfit', sans-serif;
    /*font-size: 62.5%; /* 16px * 0.625 = 10px;*/
    background-color: var(--Very-dark-blue-main-BG);
}

p{
    font-size: 1.8rem;
}

.main-container{

/*Con las siguientes propiedades se da en body
    para que los elementos que lo componen se ubiquen
    en todo el centro de la pantalla*/
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.second-container{
    background-color: var(--Very-dark-blue-card-BG);
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 21.8rem;


}

.contenedor-imagen{
    /*position: relative;*/
    width: 100%;
    max-width: 18.75rem;
    cursor: pointer;
}

.main-image{
    background-image: url(images/image-equilibrium.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 18.75rem;

    border-radius: 1rem;
}


.effect-image{
    background-image: none;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 18.75rem;
    border-radius: 1rem;
}


.texto-principal{
    margin: 1.5rem 0 2rem 0;

}
.texto-principal h1 a{
    text-decoration: none;
    color: var(--White);
    font-size: 1.5rem;

}

.texto-principal h1 a:hover{
    color: var(--Cyan);
}
.texto-principal p{
    margin: 1rem 0 1rem 0;
    text-decoration: none;
    color: var(--Soft-blue);
    font-size: 1.1rem;
    font-weight: 400;
}

.datos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--Soft-blue);
    margin-bottom:1.2rem;
    margin-top: 1rem;
}


.pricing{
    color:var(--Cyan);
    display: flex;
    font-weight: 600;
}

.pricing-p{
    font-size: 1rem;
    margin-left: 0.5rem;
}

.pricing-img{
    background-image: url(images/icon-ethereum.svg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 1rem;
    min-width: 1rem;
}

.timing{
    display: flex;
    font-weight: 600;
}

.timing-p{
    font-size: 1rem;
    margin-left: 0.5rem;
}
.timing-img{
    background-image: url(images/icon-clock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 1.3rem;
    min-width: 1.3rem;
}

.linea{
    border: 1px solid var(--Very-dark-blue-line);
    opacity: 0.5;
}

.autor{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.autor p{
    color: var(--Soft-blue);
    font-size: 1rem;
}

.autor p a{
    color: var(--White);
    text-decoration: none;
    font-weight: 400;
}


.author-name:hover{
    color: var(--Cyan);
}

.avatar{
    width: 10%;
    height: 10%;
    background-size: cover;
    border: 0.0625rem solid var(--White);
    border-radius: 50%;
}
















.attribution {
     font-size: 11px;
    text-align: center; }

.attribution a {
     color: hsl(228, 45%, 44%);
    }